<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Furniture_app">


        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.PurchaseActivity"/>
        <activity android:name=".ui.ProductionActivity"/>
        <activity android:name=".ui.SaleActivity"/>
        <activity android:name=".ui.SalaryActivity"/>
        <activity android:name=".ui.CreditActivity"/>
        <activity android:name=".ui.ReportsActivity"/>
        <activity android:name=".ui.ReportsMenuActivity"/>


        <activity android:name=".ui.PurchasesReportActivity"/>
        <activity android:name=".ui.SalesReportActivity"/>
        <activity android:name=".ui.ProductionReportActivity"/>
        <activity android:name=".ui.SalaryReportActivity"/>
        <activity android:name=".ui.CreditsReportActivity"/>


        <activity
            android:name=".ui.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>